
.mat-button {
  display: block !important;
  width: 100%;
  margin: 1px 0 0;
  text-align: left;
  text-decoration: none;
  font-size: 0.8em;
  transition: all .5s ease-in-out;
  color: rgba(255,255,255,.6);
  letter-spacing: 1pt;
  font-weight: normal;

  &:hover {
    color: rgba(255,255,255,1);
    transform: translatex(3px);
  }
}

