<div class="menu">
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="accordion-menu">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Sobre <i class="material-icons float-right">chevron_right</i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <a md-button routerLink=".">Flat button</a>
        <a md-button routerLink=".">Flat button</a>
        <a md-button routerLink=".">Flat button</a>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Membro <i class="material-icons float-right">chevron_right</i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <a md-button routerLink=".">Flat button</a>
        <a md-button routerLink=".">Flat button</a>
        <a md-button routerLink=".">Flat button</a>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Movimentação <i class="material-icons float-right">chevron_right</i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <a md-button routerLink=".">Flat button</a>
        <a md-button routerLink=".">Flat button</a>
        <a md-button routerLink=".">Flat button</a>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelContent>
        <a md-button routerLink=".">Flat button</a>
        <a md-button routerLink=".">Flat button</a>
        <a md-button routerLink=".">Flat button</a>
      </ng-template>
      <ng-template ngbPanelContent>
        <a md-button routerLink=".">Flat button</a>
        <a md-button routerLink=".">Flat button</a>
        <a md-button routerLink=".">Flat button</a>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
 </div>
