<div class="menu">
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="accordion-menu" >
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Sobre <i class="material-icons float-right">chevron_right</i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        Lorem Ipsum dolor Vhs
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Membro <i class="material-icons float-right">chevron_right</i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        Nihil anim keffiyeh helvetica
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Movimentação <i class="material-icons float-right">chevron_right</i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        Ad vegan excepteur butcher
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Login <i class="material-icons float-right">chevron_right</i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        sunt aliqua put a bird on it squid
      </ng-template>
    </ngb-panel>

  </ngb-accordion>
</div>
