<header>
  <nav class="navbar fixed-top">
    <app-header></app-header>
  </nav>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-2 hidden-menu sidebar"></div>
      <div class="col-md-10">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus vitae voluptates voluptatum! Amet at corporis cum debitis delectus distinctio harum id impedit laboriosam necessitatibus, nihil officia perferendis quaerat reprehenderit soluta.
      </div>
    </div>
  </div>
</main>
<footer>
  <app-footer></app-footer>
</footer>

