/*
* Sidebar
*/

/* Sidebar navigation */
@media (max-width: 992px) {
  .hidden-menu {
    display: none !important;
  }
}

/* Content */
@media only screen and (max-width: 992px) {
  .content {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .sidebar-mobile {
    width: 20%!important;
    position: relative!important;
    float: left!important;
    margin: 0 0 0 0!important;
    height: 100%!important;
  }
}

